 @import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
.noto {
    font-family: 'Noto Sans Korean', sans-serif;
}

*{
    font-family: 'Noto Sans Korean', sans-serif;
}
.red{
    color:#dd4545;
}
.topnav {
  padding-left:20%;
  padding-right:20%;
  overflow: hidden;
  background-color: #2d2d2d;
}
/* topnav logo */
.logo_header {
  padding: 19px 19px 18px;
  float: left;
  width: 84px;
  height: 43px;
  object-fit: contain;
  mix-blend-mode: undefined;
}

.top-logo {
  padding: 19px 67px 27px 0px;
  float: left;
  width: 84px; !important
  height: 43px;!important
  object-fit: contain;
  mix-blend-mode: undefined;
}
.topnav .list {
  padding: 31px 19px 30px;
  font-size: 20px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
#topnav{
color: #dd4545;
float: right;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.header{
  height: 150px;
  background-color: #dd4545;
}
.header div{

  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top:50px;

}

 a{
   text-decoration : none
 }

.content{
       text-align:center;
       margin-bottom: 68px;
    }
.content h1{


  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;

  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}
.content .content00{
   }
.content00{
margin-top: 93px;
display:inline-block;

}
.content00 h1{
    margin-bottom:29px;
    margin-left:10px;
}

.content01{
 margin-top:56px;
 margin-bottom: 133px;
}
.content01 h1{
    margin-bottom:34px;
}
.content01 p{
    margin-bottom:28px;


  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}

.container selects,.container input{
    border: solid 2px #2d2d2d;
    box-sizing: border-box;
    display: inline-block;

  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #2d2d2d;

}
input[type=text] {
width: 224px;
height: 40px;
  margin-bottom: 35px;

}

select[name=customer]{
    width:150px;
    height:40px;
    margin-right:74px;
    margin-bottom: 35px;
}

select[name=question]{
    width:150px;
    height:40px;
    margin-right:74px;
    margin-bottom: 35px;
}
input,select{
    border: solid 2px #2d2d2d;
    box-sizing: border-box;
    display: inline-block;

  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #2d2d2d;
}
textarea{
resize: none;
border:solid 2px #2d2d2d;
width:900px;
height:300px;
}
.container{
  text-align:left;
}
 .content-button{
    margin-left: 750px;
    margin-top:25px;
 }
 .container .content-button{
    display:inline-block;
 }
.button {
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    mix-blend-mode: undefined;
    background-color: #dd4545;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;

}


.footer{
    background-color: #2d2d2d;
    color: #ffffff;
    padding-top: 46px;
    text-align:center;
}
.footer .center{
  display:inline-block;
  margin: 0px auto;
padding-bottom: 48px;
}
.footer div{
display :inline-block;
padding-left: 25px;
padding-right: 25px;
}
.footer .logo{
    padding-top:28px;
    text-align: center;
}
.footer .logo img{
    margin-bottom: 25px;
}
.left {
    text-align:left;
}
.background2{
  height: 250px;
  mix-blend-mode: undefined;
  background-color: #f6f6f6;
  text-align:center;
  vertical-align:middle;

}
.background2 h1{
    padding-top:64px;
}