
.landing-page__register-wrapper{
  margin-top: 55px;
  margin-bottom: 135px;
}
.landing-page__register-wrapper >h3{
  margin-bottom:50px;
  font-size: 30px;
  font-weight: 900;
}
.landing-page__register-wrapper > p{
  margin-bottom:10px;
  font-size: 17px;
  font-weight: 500;
}
.landing-page__register-redot-input > form>input {

  margin: 10px;
  border: solid 2px #2d2d2d;
  width: 225px;
  height: 40px;
  font-size: 17px;
  font-weight: 500;
  padding-left: 15px;
}

.landing-page__register-redot-input > form > button,
.landing-page__register-redot-input > form > button:visited {
  margin: 10px auto;

  width: 225px;
  height: 40px;
  background-color: #dd4545;
  color: white;

}
.landing-page__register-redot-input > form > button:hover {
  color: #fff;
  background-color: #bb3232;
}


.landing-page__main-redot{
  margin: 10px auto;
  font-size: 17px;
  font-weight: 500;


}

.landing-page__main-link,.landing-page__main-link:visited {
  width: 225px;
  height: 40px
  display: block;
  margin: auto;
  padding: 10px auto;
  color: #fff;
  font-size: 17px;
  background-color: #dd4545;
}
.landing-page__main-link:hover {
  color: #fff;
  background-color: #bb3232;
}
