{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static './css/board.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

   <div class="redotpage-title text-center">
        <div class="container">
        <h1>자유게시판</h1>
        </div>
    </div>

  <div class="landing-page__board-redot" style="background-color : white;" >

    <div class="landing-page__board-redot-contnet">
    <div class="container">

      <div class="row landing-page__solutions">
            <div class="col-lg-offset-1 col-lg-10 landing-page__board-wrapper text-center">

                  <div class="container-fluid">
                      <table class="table  table-hover" id="task-table">
                           <thead class="pull-center">
                                  <tr>
                                   <div class="row">
                                   <th class="text-center" style="width: 5%">번호</th>
                                   <th class="text-center" style="width: 65%">제목</th>
                                   <th class="text-center" style="width: 10%">작성자</th>
                                   <th class="text-center" style="width: 15%">날짜</th>
                                   <th class="text-center" style="width: 5%">조회수</th>
                                    </div>
                                 </tr>
                           </thead>


                           <tbody data-link="row" class="pull-center text-center rowlink">
                            {% for a in boards %}
                            <tr>
                                <div class="row vertical-align">
                                    <td class="col-lg-1">{{ a.number }}</td>
                                    <td class="col-lg-6"><a href="{% url 'board_view' pk=a.pk %}">{{ a.board_title }}</a></td>
                                    <td class="col-lg-2">{{ a.user_id }}</td>
                                    <td class="col-lg-2"> {{ a.create_date }} </td>
                                    <td class="col-lg-1"> {{ a.hit }} </td>
                                </div>
                            </tr>
                            {% endfor %}


                           </tbody>
                     </table>

                  </div>



                 <div class="landing-page__board_new-redot text-center">
                       <a class="btn pull-right landing-page__board_new-redot-link " href="{% url 'board_new' %}"> 글쓰기 </a>

                 </div>



                  <div class="board-pagination">
                          <ul class="pagination">
                        {% if boards.has_previous %}
                          <li><a href="?page={{ boards.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in boards.paginator.page_range %}
                          {% if boards.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if boards.has_next %}
                          <li><a href="?page={{ boards.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>
{% endblock %}