{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static './css/board_view.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

   <div class="redotpage-title text-center">
        <div class="container">
        <h1>게시판</h1>
        </div>
    </div>

  <div class="landing-page__board_view-redot" style="background-color : white;" >

    <div class="landing-page__board_view-redot-contnet">
    <div class="container">

        <div class="row landing-page__row">
          <div class="col-md-offset-2 col-md-8 landing-page__board_view-wrapper text-center">

            <div class="landgin-page__board_view-content">


                 <div class="board_content-top">
                    <h4 class="pull-left title">{{ board.board_title }}</h4>
                    <p class="pull-left name">{{ board.user_id }}</p>
                    <p class="pull-right date">{{ board.create_date }}</p>
                    <br>
                 </div>
                    <hr>
                 <div class="text-left board_content-mid" >
                 <p>{{ board.message|linebreaksbr }}</p>
                  </div>
                  <div class="landing-page__board-redot pull-right ">
                    <a class="landing-page__board-redot-link btn" href="{% url 'board' %}">목록으로</a>
                  </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}