{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static './css/board.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}

  <div class="landing-page__board-redot" style="background-color : white;" >
      <div class="landing-page__board-redot-title text-center">
        <h1>자유게시판</h1>
      </div>


    <div class="landing-page__board-redot-contnet">
    <div class="container">

      <div class="row landing-page__solutions-row">
        <div class="col-sm-12 landing-page__board-wrapper text-center">

          <div class="landing-page__board-redot">
              <table class="table table-fixed table-hover" id="task-table">
               <thead class="pull-center">
                     <div class="row landing-page__board-row">
                      <tr>
                       <th class="col-sm-2">번호</th>
                       <th class="col-sm-4">제목</th>
                       <th class="col-sm-2">작성자</th>
                       <th class="col-sm-2">날짜</th>
                       <th class="col-sm-2">조회수</th>
                     </tr>
                     </div>
               </thead>
               <tbody class="pull-center">
                 {% for a in boards %}
                   <tr>
                    <td class="col-sm-2">{{ a.number }} </td>
                       <td class="col-sm-4"><a href="{% url 'board_view' pk=a.pk %}">{{ a.board_title }}</a></td>
                    <td class="col-sm-2">{{ a.user_id }}</td>
                    <td class="col-sm-2"> {{ a.create_date }} </td>
                    <td class="col-sm-2"> {{ a.hit }} </td>
                   </tr>
                {% endfor %}
               </tbody>
             </table>
             <hr>

             <div class="landing-page__board_new-redot text-center">
               <a class="btn pull-right landing-page__board_new-redot-link " href="{% url 'board_new' %}"> 글쓰기 </a>
             </div>


                  <ul class="pagination">

                    {% if boards.has_previous %}
                      <li><a href="?page={{ boards.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in boards.paginator.page_range %}
                      {% if boards.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if boards.has_next %}
                      <li><a href="?page={{ boards.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}