{% extends "base.html" %}
{% load staticfiles %}
            {% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board_redot.css'%}?ver=4">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block main %}
<div class="header">
    <div>자유게시판</div>
</div>


<div class="content">
    <div class="container">
        <table class="table table-fixed table-hover" id="task-table">
            <thead>
                <tr>
                    <th class="col-xs-1">번호</th>
                    <th class="col-xs-5">제목</th>
                    <th class="col-xs-2">작성자</th>
                    <th class="col-xs-2">날짜</th>
                    <th class="col-xs-1">조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for a in boards %}
                   <tr>
                    <td>{{ a.number }} </td>
                    <td><a href="{% url 'board_view' pk=a.pk %}">{{ a.board_title }}</a></td>
                    <td>{{ a.user_id }}</td>
                    <td> {{ a.create_date }} </td>
                    <td> {{ a.hit }} </td>
                   </tr>
                {% endfor %}
            </tbody>
       </table>
        <hr>

        <a class="btn btn-primary btn-xs pull-right"  href="{% url 'board_new' %}" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></a>
{% if boards.has_other_pages %}
  <ul class="pagination">
    {% if boards.has_previous %}
      <li><a href="?page={{ boards.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in boards.paginator.page_range %}
      {% if boards.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if boards.has_next %}
      <li><a href="?page={{ boards.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

        <!-- pagination 구현
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">1</a> </li>
                <li><a href="#">2</a> </li>
                <li><a href="#">3</a> </li>
                <li><a href="#">4</a> </li>
                <li><a href="#">5</a> </li>
            </ul>
        </div>
        -->
    </div>
</div>

{% endblock %}
