{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static './css/contact_redot.css' %}" rel="stylesheet">
{% endblock %}
{%  block main %}

   <div class="redotpage-title text-center">
        <div class="container">
        <h1>문의</h1>
        </div>
    </div>

  <div class="landing-page__contact-redot" style="background-color : white;" >

    <div class="container">
      <div class="row landing-page__solutions-row">
        <div class="col-md-offset-2 col-md-8 landing-page__contact-wrapper text-left">
            <h3 class="text-left title">이메일 문의</h3>


            <div class="contact_message" >
                  <form action="" method="post">
                    {% csrf_token %}
                    <div class="message-top">
                        {{form.customer_select}}
                        {{form.question_select}}
                        {{form.contact_name}}
                        {{form.contact_email}}
                    </div>
                    <div class=" text-left message">
                        {{form.contact_message}}
                    </div>

                    <div class="send-contact">
                      <button type="submit" class="btn pull-right button">보내기</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}