{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static './css/login_require.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
  <div class="landing-page__login-redot" style="background-color : white;" >
      <div class="landing-page__login-redot-title text-center">
        <h1>잘못된 접근</h1>
      </div>


    <div class="landing-page__login-redot-contnet">
    <div class="container">
      <div class="row landing-page__solutions-row">
        <div class="col-md-offset-4 col-md-4 landing-page__login-wrapper text-center">
            <h3>로그인이 필요한 작업입니다.</h3>
            <div class="landing-page__login">
            <a class="btn landing-page__login-link" href="{% url 'main' %}">로그인하기</a>
          </div>
        </div>
        </div>
      </div>
    </div>





      </div>
    </div>
  </div>
</div>

{% endblock %}