{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static './css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
  <div class="landing-page__login-redot" style="background-color : white;" >
      <div class="landing-page__login-redot-title text-center">
        <h1>로그인</h1>
      </div>


    <div class="landing-page__login-redot-contnet">
    <div class="container">
      <div class="row landing-page__solutions-row">
        <div class="col-md-offset-4 col-md-4 landing-page__login-wrapper text-center">
            <h3>회원로그인</h3>
          <div class="landing-page__login-redot-input">
            <form method="post">
              {% csrf_token %}
              {% if form.errors %}
                <p style="color: red; font-size: 17px;">아이디와 비밀번호가 일치하지않습니다.</p>
              {% endif %}

              <div class="input_username">
                {{form.username}}
              </div>

              <div class="input_password">
                {{form.password}}
              </div>

              <button type="submit" class="btn login_button"><p>로그인</p></button>

            </form>
          </div>
        </div>
      </div>

        <div class="row landing-page__solutions-row">
        <div class="col-md-offset-4 col-md-4 landing-page__register-wrapper text-center">
          <h3>회원가입</h3>

          <p>
            리닷의 다양한 서비스와 이벤트를<br>
            만나 보실수 있습니다.
          </p>
          <div class="landing-page__register">
            <a class="btn landing-page__register-link" href="{% url 'register' %}">회원가입</a>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
{% endblock %}