{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static './css/main_biz.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
  <div class="landing-page__jumbotron" style="background-image: url('/static/asset/image-top-buniness.png')">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="landing-page__jumbotron-heading">
            <h1>
              모바일 포렌식 솔루션의 새로운 기준,<br>
              <span class="text-brand">리닷</span>이 만들어갑니다.
            </h1>
          </div>

          <div class="landing-page__jumbotron-description">
          <p>전문적인 모바일 포렌식 도구부터 가맹점 제휴까지.</p>
          <p>리닷이 업계 규칙을 다시 새롭게 써 내려갑니다.</p>
          <p>리닷과 함께할때, 모두와 함께할 수 있습니다.</p>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-page__why-redot">
    <div class="container">
      <h2 class="text-center">
        왜 <span class="text-brand">리닷</span>인가요?
      </h2>
      <p class="landing-page__why-redot-desc text-center">
        기술적 가치를 높이기위해 많은 연구를 진행했습니다.
      </p>

      <div class="landing-page__why-redot-features row">
        <div class="landing-page__why-redot-feature-elem col-md-3">
          <div>
            <img src="{% static 'asset/app.png' %}" alt="">
          </div>

          <h3>어플리케이션 지원</h3>
          <p>
          모바일 앱 지원으로<br>
          일반고객층 확보 가능
          </p>
        </div>

        <div class="landing-page__why-redot-feature-elem col-md-3">
          <div>
            <img src="{% static 'asset/lately.png' %}" alt="">
          </div>

          <h3>최신 기종 대응</h3>
          <p>
            갤럭시 S8이후 출시된<br>
            최신 스마트폰 대응으로<br>
            <span class="text-brand">업계 유일 최신 기종 대응</span>가능
          </p>
        </div>

        <div class="landing-page__why-redot-feature-elem col-md-3">
          <div>
            <img src="{% static 'asset/checked.png' %}" alt="">
          </div>

          <h3>Re. station</h3>
          <p>
            리닷 독점적으로 선정하는<br>
            <span class="text-brand">전문 가맹점 '리닷 스테이션'<br>독점적인 고객유치
            </span>
          </p>
        </div>

        <div class="landing-page__why-redot-feature-elem col-md-3">
          <div>
            <img src="{% static 'asset/money.png' %}" alt="">
          </div>

          <h3>저렴한 가격</h3>
          <p>
            저렴한 월 제휴비로<br>
            적은 부담, 전문적인 서비스
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-page__solutions">
    <div class="container">
      <h2 class="text-center">
        리닷과 제휴하면 새로운 시장이 열립니다.
      </h2>

      <p class="landing-page__solutions-description text-center">
        더 많은 고객층과 그에 따른 새로운 유치 서비스를 제공합니다.
      </p>

    <div class="landing-page__biz-collect">
      <div class="row landing-page__solutions-row">
        <div class="col-md-offset-2 col-md-8 landing-page__biz-elem-img-wrapper text-center">
          <img src="{% static 'asset/handshake.png' %}" alt="">
          <h2>리닷과의 제휴가맹 체결</h2>
          <p>리닷과의 제휴가맹을 통해 저렴한 가격으로 리닷의 독점적인 서비스를 제공받을 수 있습니다.</p>
        </div>
      </div>
      <div class="row landing-page__solutions-row">
        <div class="col-md-offset-2 col-md-8 landing-page__biz-elem-img-wrapper text-center">
          <img src="{% static 'asset/solution.png' %}" alt="">
          <h2>Re. PRO의 전문적인 솔루션</h2>
          <p>리닷 프로를 통해 갤럭시 S7 이후의 최신기종의 포렌식과 세부적인 데이터 관리가 가능합니다.</p>
        </div>
      </div>
      <div class="row landing-page__solutions-row">
        <div class="col-md-offset-2 col-md-8 landing-page__biz-elem-img-wrapper text-center">
          <img src="{% static 'asset/customer.png' %}" alt="">
          <h2>독점적인 고객유치</h2>
          <p>400만명의 최신 기종 사용자들과 리닷 앱 사용자를 독점적으로 유치받을 수 있습니다.</p>
        </div>
      </div>
      <div class="row landing-page__solutions-row">
        <div class="col-md-offset-2 col-md-8 landing-page__biz-elem-img-wrapper text-center">
          <img src="{% static 'asset/network.png' %}" alt="">
          <h2>Re. Station Network</h2>
          <p>리닷 스테이션 네트워크로 고객 데이터 보존 및 지속적인 솔루션 업데이트를 받을수 있습니다.</p>
        </div>
      </div>
    </div>


    </div>
  </div>

  <div class="landing-page__research" style="background-color: #2d2d2d;">
    <div class="container text-center">
      <h2>
        리닷은 끊임없이 연구합니다
      </h2>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <p>
    기존 업체와의 차별을 중심으로 활동하는 리닷은 발전을 멈출수 없습니다.</br>
    기존의 틀에서 벗어난 새로운 영역을 개척하기 위해 </br>
    같이 나아갈 때 모두가 함께 성장할 수 있습니다.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page__sponship text-center">
    <h2>기업 제휴 문의 및 안내</h2>
    <a class="btn landing-page__sponship-link" href="{% url 'contact'  %}">문의 페이지로 이동</a>
  </div>
{% endblock %}